#include <windows.h>

MAINICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     5,5,0,0
PRODUCTVERSION  5,5,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Sanskar"
      VALUE "FileDescription", "Calc-Avg - Advanced C Mathematical & Surveillance Engine (V4.7 The Security & Auth Expansion)"
      VALUE "FileVersion", "5.5.0.0"
      VALUE "InternalName", "calc_avg"
      VALUE "LegalCopyright", "Copyright (c) 2026 Sanskar"
      VALUE "OriginalFilename", "calc_avg.exe"
      VALUE "ProductName", "Calc-Avg V5.5 (The Native GUI Polish Update)"
      VALUE "ProductVersion", "5.5.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
