#include <windows.h>

1 VERSIONINFO
FILEVERSION     4,2,0,0
PRODUCTVERSION  4,2,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Sanskar"
      VALUE "FileDescription", "Advanced tool to calculate the average of any numbers via C engine"
      VALUE "FileVersion", "4.2.0.0"
      VALUE "InternalName", "calc_avg"
      VALUE "LegalCopyright", "Copyright (c) Sanskar. All rights reserved."
      VALUE "OriginalFilename", "calc_avg.exe"
      VALUE "ProductName", "Calc-Avg Framework"
      VALUE "ProductVersion", "4.2.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
