#include <windows.h>

MAINICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     3,8,0,0
PRODUCTVERSION  3,8,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Sanskar"
      VALUE "FileDescription", "Calc-Avg - The Universal Web API & Big Data C Engine"
      VALUE "FileVersion", "3.8.0.0"
      VALUE "InternalName", "calc_avg"
      VALUE "LegalCopyright", "(c) 2012-2026 Sanskar"
      VALUE "OriginalFilename", "calc_avg.exe"
      VALUE "ProductName", "Calc-Avg (Web API Edition)"
      VALUE "ProductVersion", "3.8"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
